<div class="bechdel">
  <div class="bechdel-text">
    <h3>The Bechdel Test</h3>

    <h4>
      1. The movie has to have at least two women in it...<br>
      2. ...who talk to each other<br>
      3. ...about something besides a man.
    </h4>

    <p>
      <a href="https://en.wikipedia.org/wiki/Bechdel_test">Find out more about the Bechdel Test.</a>
    </p>
  </div>
</div>

<div class="main">
  <div class="movie">
    <h1><%= @new_movie.title %></h1>
    <h1><small>directed by <%= @new_movie.director %></small></h1>

    <a class = "movie__image" href="movies/<%= @new_movie.id %>/view">
      <img src="<%= @new_movie.image %>" alt="<%=@new_movie.title%>">
    </a>

    <form action="/" class = "movie__button">
      <input type="submit" value="Get Another Movie">
    </form>
  </div>
</div>